.logo-button {
    transition: 1s;
    cursor: pointer;
}

.logo-button:hover{
    transform: scale(1.3);
}

.login-button {
    transition: 1s;
    cursor: pointer;
}

.login-button:hover{
    transform: scale(1.1);
}

.sign-up {
    transition: 1s;
    cursor: pointer;
}

.sign-up:hover{
    transform: scale(1.1);
}